# Example Publisher settings for local execution
# Please copy/rename this file to '.env' and update the values as needed

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_TOPIC=assessment/your_name/telemetry

TEMP_UPPER_BOUND=30
TEMP_LOWER_BOUND=20

PUBLISH_INTERVAL=5